
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: "IBM Plex Mono", monospace;
}

.container {
    margin: auto;
    max-width: 1440px;
}

/* Hero section starts */

header {
    height: 70px;
    width: 100%;
    background-color: #e4e4e7;
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    transition: 0.4s;
    animation: navColor 4s forwards;
    animation-timeline: scroll();
}
@keyframes navColor {
    0% {
        background-color: transparent;
    }

    30% {
        background-color: #e4e4e7;
    }

    100% {
        background-color: #e4e4e7;
    }
}
.logo {
    margin-left: 100px;
}
.logo img {
    width: 200px;
}
.hamburger {
    margin-right: 100px;
    width: 40px;
    cursor: pointer;
}
.hamburger img {
    width: 100%;
}
.hero-section {
    background-color: #e4e4e7;
    padding: 100px 70px;
}
.hero-section h1 {
   text-align: center;
}
.hero-section p {
    padding: 20px 30%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
}
.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.try-now-btn {
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(9, 9, 11);
    border: none;
    font-family: "IBM Plex Mono", monospace;
    color: #f4f4f5;
    margin-top: 20px;
    cursor: pointer;
    border: 1px solid rgb(9, 9, 11);
    transition: background-color ease-in-out 0.2s;
}
.try-now-btn:hover {
    background-color: #f4f4f5;
    color: rgb(9, 9, 11);
}

@media (max-width: 800px) {
    .hero-section p {
        padding: 20px 10%;
    }
}
@media (max-width: 600px) {
    .logo img {
        width: 150px;
    }
    .hero-section {
        padding: 100px 40px;
    }
    .hero-section p {
        padding: 20px 10%;
    }
    .hamburger {
        margin-right: 30px;
        width: 30px;
    }  
    .logo {
        margin-left: 40px;
    }  
    .hero-section h1 {
        font-size: 20px;
     }
    .hero-section p {
        font-size: 15px;
        padding: 20px 30px;
    }
}
@media (max-width: 400px) {
    .hero-section p {
        font-size: 13px;
        padding: 10px;
    }
}

/* Hero section ends */

/* Card Section starts */

.card-section {
    background-color: #f4f4f5;
}
.card-section h2 {
    padding: 40px;
    text-align: center;
}
.card-section p {
    text-align: center;
}
.cards {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}
.card {
    width: 350px;
    height: 280px;
    background-color: #e4e4e7;
    box-shadow: 4px 4px 4px rgb(9, 9, 11, 0.2);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
}
.card:hover {
    transform: scale(1.03);
}
.card img {
    padding: 20px 100px;
    width: 100%;
    height: 50%;
}
.card p {
    padding: 10px 20px;
    font-size: 13px;
    width: 100%;
    text-align: justify;
}
@media (max-width: 800px) {
    .card-section p {
        padding: 0px 20px;
    }
}
@media (max-width: 600px) {
    .card-section h2 {
        font-size: 18px;
    }
    .card-section p {
        padding: 0px 30px;
        font-size: 15px;
    }
    .card {
        width: 240px;
        height: 280px;
    }
    .card img {
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    .card p {
        display: none;
    }
}


/* Card Section ends */

/* Footer Section Starts */

footer {
    background-color: #e4e4e7;
    padding: 40px;
}
.form-container {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
.decription {
    width: 40%;
}
.decription p {
    margin-top: 10px;
    line-height: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
form input, textarea {
    border: none;
    padding: 10px;
    background-color: #f4f4f5;
    box-shadow: 4px 4px 4px rgb(9, 9, 11, 0.1);
    border-radius: 4px;
}
form input[type = "button"] {
    cursor: pointer;
    background-color: rgb(9, 9, 11);
    border: none;
    font-family: "IBM Plex Mono", monospace;
    color: #f4f4f5;
    border: 1px solid rgb(9, 9, 11);
    transition: all ease-in-out 0.2s;
}
form input[type = "button"]:hover {
    background-color: #f4f4f5;
    color: rgb(9, 9, 11);
}
.lists {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.list {
    line-height: 25px;
}
@media (max-width: 850px) {
    .list p {
        font-size: 12px;
    }
}
@media (max-width: 650px) {
    .lists {
        display: none;
    }
}
@media (max-width: 600px) {
    footer {
        padding: 20px;
    }
    .form-container {
        flex-direction: column;
        gap: 30px;
    }
    form {
        width: 100%;
    }
    .decription {
        width: 100%;
    }
    .decription p {
        font-size: 13px;
    }
}

/* Footer Section Ends */